.projects {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.projects h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: -30px;
}

.sectionTitle {
  display: block;
  margin: 0 auto -30px;
  max-width: 240px;   /* control size */
  width: 100%;
  height: auto;
}

/* Currently Section */
.currently-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    margin-bottom: 0px;
    justify-content: center;
    width: 100%;
    padding-left: 20px;
}

.currently-image {
    flex: 2 1 350px;
    max-width: 400px;
    border-radius: 12px;
    box-shadow: 0 6px 14px rgba(0,0,0,0.2);
    transition: none;
}

.currently-info {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    font-family: "EB Garamond", serif;
    font-size: 1rem;
}

.currently-info h3 {
    margin-bottom: -20px;
    font-size: 1.4rem;
    color: #000000;
    font-family: "IBM Plex Mono", monospace;
}

.currently-info p {
    font-size: 1rem;
}

/* Filter Buttons */
.filter {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-left: 20px;
    margin-bottom: 0px;
}

.filter button {
    padding: 0.5em 1em;
    font-size: 1rem;
    border-radius: 8px;
    background-color: #f8efda;
    cursor: pointer;
    transition: all 0.25s;
}

.filter button:hover {
    background-color: #bed9f4;
    color: #000000;
}

.activeFilter {
  text-decoration: underline;
}

.currently-button {
  margin-top: 12px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 16px;
  padding: 10px 20px 30px;
  justify-content: start;
  align-items: start;
}

@media (max-width: 980px) {
  .cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 600px) {
  .cards {
    grid-template-columns: 1fr;
  }
}