.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 200px 0 0 0;
    text-align: center;
}

/* Headshot Icon Box */
.headshot {
    width: 220px;
    height: 220px;
    border-radius: 50%; /* circle shape */
    background-image: url("../src/assets/headshot.jpg");
    background-size: cover;
    background-position: center;
    transition: background-image 0.4s ease-in-out;
    box-shadow: 0 6px 14px rgba(0,0,0,0.2);
    cursor: pointer;
}

/* changed to illustrated ver on hover */
.headshot:hover {
    background-image: url("../src/assets/illustrated.png");
}

.name {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}